.container--platform_release_prod {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  height:15%
 }

.container--component_prod {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  height:25%
 }

 .container--draft {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  height:5%
 }
.cui .btn.btn--platform {
  border: 1px solid transparent;
  background: #4285f4;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--platform:hover{
  background:#22447D;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.cui .btn.btn--component {
  border: 1px solid transparent;
  background: #34a853;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--component:hover{
  background:#1B562A;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.cui .btn.btn--release {
  border: 1px solid transparent;
  background: #fbbc05;
  color: #fff;
  margin: 10px;
  text-decoration: none;
  }

.cui .btn.btn--release:hover{
  background:#816002;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.cui .btn.btn--new {
  border: 1px solid transparent;
  background: #B45F06;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--new:hover{
  background: #5C3103;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.cui .btn.btn--action {
  border: 1px solid transparent;
  background:#299162 ;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--action:hover{
  background: #18573A;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.cui .btn.btn--highlight {
  border: 1px solid transparent;
  background: #cad5f7 ;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.highlight {
  background-color: #cad5f7 ;
}