.container--platf_release {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  overflow: hidden;
 }

 .container--platform_test {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  height:10%
 }
.container--component {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  overflow: hidden;
 }

.cui .btn.btn--platform {
  border: 1px solid transparent;
  background: #4285f4;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--platform:hover{
  background:#22447D;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.cui .btn.btn--component {
  border: 1px solid transparent;
  background: #34a853;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

.cui .btn.btn--component:hover{
  background:#1B562A;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.cui .btn.btn--release {
  border: 1px solid transparent;
  background: #fbbc05;
  color: #fff;
  margin: 10px;
  text-decoration: none;
  }

.cui .btn.btn--release:hover{
  background:#816002;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.cui .btn.btn--new {
      border: 1px solid transparent;
      background: #B45F06;
      color: #fff;
      margin: 10px;
      text-decoration: none;
}

.cui .btn.btn--new:hover{
	  background: #5C3103;
	  -webkit-transform: scale(1.2);
	  -ms-transform: scale(1.2);
	  transform: scale(1.2);
	  cursor: pointer;
}

.cui .btn.btn--highlight {
      border: 1px solid transparent;
      background: #EA9999;
      color: #fff;
      margin: 10px;
      text-decoration: none;
}

.highlight {
    background-color: #EA9999;
}